<a href="https://colab.research.google.com/github/woohyunjung/m1/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 1+2+3+\
      4+5+6+\
      7+8+9
print(sum)

45

In [ ]:
tup=(1+2+3+
     4+5+6+
     7+8+9)
print(tup)

45

In [ ]:
a=1
b=2
print(a,b)
print(a,b,sep="/")
print(a,b,end="/")

1 2
1/2
1 2/

In [ ]:
string = "Hello Python, enjoy coding"

print(string.upper())
print(string.lower())
print(string.title())

print(string.endswith("p"))
print(string.startswith("h"))
print(string.lower().startswith("h"))

list_string = string.split()
print(list_string)

list_string2 = string.split(",")
print(list_string2)

fill_string = string.zfill(20)
print(fill_string)

HELLO PYTHON, ENJOY CODING
hello python, enjoy coding
Hello Python, Enjoy Coding
False
False
True
['Hello', 'Python,', 'enjoy', 'coding']
['Hello Python', ' enjoy coding']
Hello Python, enjoy coding

In [ ]:
list_a=[5,6,3,2,7,8,9]
print("5의 위치:",list_a.index(5))

list_a.sort()
print(list_a)

list_a.reverse()
print(list_a)

list_a.pop()
print(list_a)

list_a.remove(5)
print(list_a)

print(list_a.count(1))

5의 위치: 0
[2, 3, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 3, 2]
[9, 8, 7, 6, 5, 3]
[9, 8, 7, 6, 3]
0

In [ ]:
list_b=[34,5,6,7,22,2,3,4]

print(len(list_b))
print(max(list_b))
print(min(list_b))
print(sum(list_b))

string = "python"
print(list(string))

8
34
2
83
['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {1, 2, 3, 7, 8, 9}

# 합집합
print(A | B, '-> A | B')
print(A.union(B), '-> A.union(B)')
print(B.union(A), '-> B.union(A)')
print(A, '-> A')
print()

# 교집합
print(A & B, '-> A & B')
print(A.intersection(B), '-> A.intersection(B)')
print()

# 차집합
print(A - B, '-> A - B')
print(A.difference(B), '-> A.difference(B)')
print()

# 대칭차집합
print(A ^ B, '-> A ^ B')
print(A.symmetric_difference(B), '-> A.symmetric_difference(B)')
print()

# 부분집합
print({4, 5, 6} <= A)
print({4, 5, 6}.issubset(A))
print({1, 2, 3, 4, 5, 6} >= A)
print({1, 2, 3, 4, 5, 6}.issuperset(A))

{1, 2, 3, 4, 5, 6, 7, 8, 9} -> A | B
{1, 2, 3, 4, 5, 6, 7, 8, 9} -> A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8, 9} -> B.union(A)
{1, 2, 3, 4, 5, 6} -> A

{1, 2, 3} -> A & B
{1, 2, 3} -> A.intersection(B)

{4, 5, 6} -> A - B
{4, 5, 6} -> A.difference(B)

{4, 5, 6, 7, 8, 9} -> A ^ B
{4, 5, 6, 7, 8, 9} -> A.symmetric_difference(B)

True
True
True
True

In [ ]:
print('{0}, {1}'.format('하나','둘'))
print('{0}, {1}, {2}'.format(1, 2, [3,4,5]))
print('칸이 비어도 {}, {}, {}'.format('하나', '둘', '셋'))
print()

print('{2}, {1}, {0}'.format('a', 'b', 'c'))
print('{0}{1}{0}'.format('오렌지', '를 먹은 지 얼마나 '))
print()

print('체질량지수(BMI)를 계산해 보아요')

weight = int(input('체중을 입력하세요: '))
height = float(input('키를 입력하세요: '))
print("bmi = ",weight/(height*height))

하나, 둘
1, 2, [3, 4, 5]
칸이 비어도 하나, 둘, 셋

c, b, a
오렌지를 먹은 지 얼마나 오렌지

체질량지수(BMI)를 계산해 보아요
체중을 입력하세요: 50
키를 입력하세요: 160
bmi =  0.001953125

In [ ]:
print('햄버거를 만들어보자.')

basemat = ('빵', '토마토', '야채', '소스')
coremat = ('새우', '불고기', '한우', '치즈')

print('{food}의 기본재료는 {base}임'.format(food='햄버거', base=basemat),"\n")

for item in coremat:
    print('핵심재료가 {core}면 {core}버거'.format(core=item))

햄버거를 만들어보자.
햄버거의 기본재료는 ('빵', '토마토', '야채', '소스')임

핵심재료가 새우면 새우버거
핵심재료가 불고기면 불고기버거
핵심재료가 한우면 한우버거
핵심재료가 치즈면 치즈버거

In [ ]:
a = int(input("첫번째 숫자는?:"))
b = int(input("두번째 숫자는?:"))

if a>b:
    print("a>b")

else:
    print("a<b")

첫번째 숫자는?:4
두번째 숫자는?:5
a<b

In [ ]:
a = int(input("1st num:"))
b = int(input("2nd num:"))
c = int(input("3rd num:"))

if a%2 == 1:
    print(a)
if b%2 == 1:
    print(b)
if c%2 == 1:
    print(c)

1st num:4
2nd num:5
3rd num:7
5
7

In [ ]:
for i in range(7, 10):
	print(i)
print("=======================")
for i in range(7, 36 ,3):
	print(i)

7
8
9
=======================
7
10
13
16
19
22
25
28
31
34

In [ ]:
for i in range(10, 0, -1):
	print(i)

print("end")

10
9
8
7
6
5
4
3
2
1
end

In [ ]:
i = 1
while i<11 :
    print(i)
    i += 1

print("end")

1
2
3
4
5
6
7
8
9
10
end

In [ ]:
n = int(input())
sum = 0


for i in range(1,n+1):
    sum += i


print("1부터",n,"까지의 합은?",sum)

7
1부터 7 까지의 합은? 28

In [ ]:
n = int(input())
sum = 0
i = 0

while i<=n:
    sum += i
    i +=1

print("1부터",n,"까지의 합은?",sum)

7
1부터 7 까지의 합은? 28

In [ ]:
while True:
	n = int(input())
	if n>=0:
		print("num?:",n)
	else:
		print("end")
		break

7
num?: 7
8
num?: 8
6
num?: 6
2
num?: 2
1
num?: 1
9
num?: 9
-1
end